.container {
	display: grid;
	place-items: center;
}

.container img {
	margin-bottom: 1.5rem;
}

.titlePrice {
	align-items: center;
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
	margin-bottom: 1rem;
}

.price {
	color: green;
	font-weight: 600;
}

.rating {
	align-items: center;
	display: flex;
	gap: 0.5rem;
	margin-top: 1rem;
}

.rating__stars span:first-of-type {
	display: flex;
}

.addToCarBtn {
	margin-top: 2rem;
	width: 100%;
}

@media (min-width: 768px) {
	.container {
		width: 25%;
	}
}

@media (min-width: 1300px) {
	.container {
		width: 20%;
	}
}
