.container {
	margin-bottom: 3rem;
}

.landingBackground {
	background-image: url(/assets/landing-bg.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 30vh;
}

@media (min-width: 768px) {
	.landingBackground {
		height: 50vh;
	}
}

@media (min-width: 1300px) {
	.landingBackground {
		height: 60vh;
	}
}

.landingInfo {
	padding: 0 1.5rem;
}

.landingInfo__text {
	margin: 2rem 0;
}

.landingInfo__text h1 {
	font-size: 3rem;
	font-weight: 800;
	margin-bottom: 1rem;
}

@media (min-width: 768px) {
	.landingInfo {
		display: flex;
		justify-content: center;
		min-width: 100%;
		margin-top: -4rem;
		padding: 0 3rem;
	}
	.landingInfo div:nth-child(1) {
		width: 70%;
	}
	.landingInfo div:nth-child(2) {
		width: 30%;
	}

	.landingInfo__text {
		margin-top: unset;
	}

	.landingInfo__text h1 {
		font-size: 5rem;
	}
	.landingInfo__text p {
		font-size: 1.3rem;
		width: 80%;
	}
}

@media (min-width: 1300px) {
	.landingInfo {
		margin-top: -6rem;
	}
	.landingInfo__text h1 {
		font-size: 7rem;
	}
	.landingInfo__text p {
		font-size: 1.5rem;
	}
}

.landingInfo__buttons button {
	background-color: #111;
	border: none;
	color: white;
	cursor: pointer;
	align-items: center;
	display: flex;
	justify-content: center;
	gap: 1rem;
	padding: 2rem;
	width: 100%;
	transition: 0.1s;
}

.landingInfo__buttons button:hover {
	background-color: #222;
}

.landingInfo__buttons button:first-of-type {
	background-color: var(--primary);
	margin-bottom: -1px;
}

.landingInfo__buttons button:first-of-type:hover {
	background-color: var(--primaryLight);
}

@media (min-width: 768px) {
	.landingInfo__buttons button {
		font-size: 1.3rem;
		padding: 4rem 2rem;
	}
	.landingInfo__buttons button span {
		font-size: 1.8rem;
	}
}
