.section {
	margin: 2rem 0;
	width: 100%;
}

.section h2 {
	color: var(--primary);
	text-align: center;
	margin-bottom: 4rem;
}

@media (min-width: 768px) {
	.section h2 {
		font-size: 2rem;
	}
}

.children {
	display: flex;
	gap: 5rem;
	justify-content: center;
	flex-wrap: wrap;
	padding: 0 2rem;
}
